// Setup for Susy

$total-columns: 12;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;

$small : 30em;
$medium: 47em;
$large: 75em;

// Set border-box sizing.
@include border-box-sizing;


.container{
	@include container;

	padding: 3%;
}