

// Base Colors
$kbia-blue : #006AF3;
$kbia-tf-red: #d9534f;
$kbia-bold-purple: #613d7c;

$gray-dark:                 #292b2c !default;
$gray:                      #464a4c !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

// Project Colors
$project-primary : $kbia_blue;

$project-background-dark: $gray-dark;
$project-text-dark: $gray-lightest;
